<div class="nav-container">
  <div class="logo-container">
    <img src="./assets/img/logoPrimary.png" class="logo" />
  </div>
  <div class="navigation-menu">
    <ul>
      <li href="##contact"><a href="##home">Home</a> </li>
      <li href="##about"><a href="##about">About</a></li>
      <li href="##services"><a href="##services">Services</a></li>
      <li href="##services"><a href="##projects">Recent Work</a></li>
      <li href="##contact"><a href="##contact">Contact</a></li>
    </ul>
  </div>
  <div class="social-links">
    <a
      href="https://www.facebook.com/lewis.morgans"
      target="_blank"
      class="nav-link waves-effect menuBtn"
    >
      <img src="./assets/img/facebook.svg" />
    </a>
    <a
      href="https://www.linkedin.com/in/lewismorgansengineer/"
      target="_blank"
      class="nav-link waves-effect menuBtn"
    >
      <img src="./assets/img/linkedin.svg" />
    </a>
    <a
      href="https://github.com/LewisMorgans"
      target="_blank"
      class="nav-link waves-effect menuBtn"
    >
      <img src="./assets/img/github.svg" />
    </a>
    <p></p>
  </div>
</div>
