@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  font-family: "Mulish";
}

.container-fluid {
  background-color: #111111;

  .card {
    background: transparent;
    // padding: 60px 40px 53px 40px;
    border-radius: 5px;
    border: solid rgba(187, 187, 187, 0.377) 0.3px !important;
    transition: ease-in 0.2s;
    margin: 20px 0;
  }

  .title {
    padding: 150px 0px;
    color: #66b95c;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    display: block;
    margin: auto;
  }

  .subHeader {
    padding: 10px 0;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: left !important;
  }

  .text {
    color: #bbb;
    font-family: "Mulish";
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.8px;
    font-weight: 400;
  }
}
