<div class="container-fluid">
  <section id="#services"></section>
  <div class="row">
    <div class="col offset-0 col-xl-2 offset-xl-3">
      <p class="title">Services</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col offset-0 col-xl-9 offset-xl-3">
      <div class="row mb-3">
        <div class="col-md-4 col-xl-3 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">Web Development</p>
              <p class="text">
                Capable of producing high quality, scalable code to suit your
                business needs and financial constraints.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">Cloud Deployment</p>
              <p class="text">
                Why assume the risk and exponential cost of running your own
                servers? Migrate to a cloud provider and let them handle the
                traffic, scaling and security for you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">CI/CD</p>
              <p class="text">
                With robust experience in assuring quality gates are met and
                automated deployments to your environment, CI-CD can be as easy
                as, 1-2-3!
              </p>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-4 col-xl-3 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">Unit Testing</p>
              <p class="text">
                Ensuring your code is of the highest standard, means-testing it
                to a higher standard. With several years of experience in this
                field, I can ensure your application is delivered bug-free.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">State Management</p>
              <p class="text">
                Does your application have an array of moving parts? Do you find
                yourself writing countless services to manage all that data
                handling? State management is your answer, and I can provide
                comprehensive solutions to ensure scalability and autonomy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
