<div class="mobile-nav-container">
  <header>
    <input type="checkbox" id="toggle" style="display: none" />
    <label class="toggle-btn toggle-btn__cross" for="toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>
    <nav>
      <ul>
        <li href="##contact"><a href="##home">HOME</a></li>
        <li href="##about"><a href="##about">ABOUT</a></li>
        <li href="##services"><a href="##services">SERVICES</a></li>
        <li href="##services"><a href="##projects">WORK</a></li>
        <li href="##contact"><a href="##contact">CONTACT</a></li>
      </ul>
    </nav>
  </header>
</div>
