@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.container-fluid {
  background-color: #000000;

  .img-wrapper {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 13%;
    margin-top: 100px;
    left: 10%;
  }

  .img-wrapper {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 13%;
  }

  .logo {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
    width: auto;
    height: 100%;
    border-radius: 50%;
    //clip-path: polygon(50% 0%, 90% 20%, 90% 70%, 50% 90%, 10% 70%, 10% 20%);
  }

  .icon {
    width: 30% !important;
  }

  .highlight {
    color: #66b95c;
  }

  a {
    text-decoration: none;
    color: #66b95c;
  }

  .title {
    padding: 20px;
    color: #66b95c;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    display: block;
    margin: auto;
  }

  p {
    font-family: "Mulish";
    font-size: 22px;
    line-height: 2;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #bbb;
    padding: 80px 0;
  }

  .btn {
    background-color: #111111;
    border: none;
    color: #66b95c;
    transition: all ease-in 0.2s;
    display: inline-block !important;
    margin: 50px 20px !important;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .btn:hover {
    background-color: #111111;
    color: #66b95c;
    cursor: pointer;
    border: 0.5px solid #66b95c !important;
    transition: all ease-in 0.2s;
  }
}

@media only screen and (max-width: 575px) {
  .img-wrapper {
    display: inline-block;
    position: relative;
    width: 300px !important;
    height: 300px !important;
    overflow: hidden;
    border-radius: 50%;
  }
}
