<div class="container-fluid">
  <div class="row">
    <section id="#about"></section>
    <div class="col offset-0 col-xl-2 offset-xl-3 profilePic">
      <div class="row">
        <div class="col-md-12">
          <div class="img-wrapper">
            <img class="logo" src="./assets/img/profile01.PNG" />
          </div>

          <div class="center">
            <button class="btn btn-small btn-success">
              <a href="./assets/cv/cv.pdf" target="_blank">Resume</a>
            </button>

            <button class="btn btn-small btn-success">
              <i class="fas fa-envelope"></i>
              <a href="##contact">Contact</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col offset-0 col-xl-5 offset-xl-1 text-body">
      <p class="title">About Me</p>
      <p>
        Hi! My name is <span class="highlight">Lewis Morgans</span>. Software
        Engineer and founder of Swift Media. I focus within front end
        engineering, utilising JavaScript, TypeScript, NgRx, RxJs, Angular 2+
        and GraphQL as my development toolbox. I'm a tech influencer with a
        great passion for coding. I code and study computer science intensively,
        mentoring developers, writing technical content and sharing my passion
        for programming to over 3000 people on social media. <br />
        <br />
        I've worked with companies from large industry leaders to small scale
        startups. From Waterfall to Agile. Cloud-based to closed-circuit systems
        for international intelligence agencies.<br />
        <br />
        Let's work together to achieve <span class="highlight">success</span>.
      </p>
    </div>
  </div>
</div>
