@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
@font-face {
  font-family: TitleFont;
  src: url('/assets/fonts/aldithRegular.ttf');
}

.container-fluid {
  background: rgb(57, 13, 12);
  background: linear-gradient(
    90deg,
    rgba(57, 13, 12, 1) 36%,
    rgba(69, 29, 11, 1) 80%
  );
  z-index: -10;
}

.center {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.img-wrapper {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.logo {
  width: 100%;
  border-radius: 50%;
}

.headerText {
  font-family: TitleFont;
  text-transform: uppercase;
  line-height: 1.4;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 20px;
  z-index: 3;
  p {
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
  }
  .lastName {
    color: #66b95c;
    text-transform: uppercase;
    font-size: 55px;
  }
}

#arrow-container {
  cursor: pointer;
  transform: rotate(90deg);
}

#particles-js {
  font-family: "Montserrat";
  text-align: center;
  background-color: rgb(31, 29, 29); // 252934
  width: 100%;
  height: 100%;
  z-index: 10;
}

.arrowBounce {
  animation-name: bounce;
  animation-timing-function: 0.1s;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes push {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 513px) {
  .arrow {
    display: none;
  }

  #particles-js {
    height: 102vh;
  }

  .logo {
    width: 70% !important;
  }
}

@media only screen and (max-width: 1920px) {
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

