<div class="container-fluid">
  <section id="#projects"></section>
  <div class="row">
    <div class="col offset-0 col-xl-2 offset-xl-3">
      <p class="title">Work</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col offset-0 col-xl-9 offset-xl-3">
      <div class="row mb-3">
        <div class="col-md-6 col-xl-4 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">HCL Technologies</p>
              <p class="text">
                Mobile Banking - Working alongside a mixture of front end and back end
                engineers to produce new features inside of Natwest's online banking
                platform. Utilising Angular 11, with heavy implementation of RxJs, NgRx and
                StencilJs. Recent features worked on being client accounts direct debits
                management, being able to sort through both active and inactive debits
                and allowing the end user to perform multiple actions depending on the
                state held within the NgRx store.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">VQ Communications</p>
              <p class="text">
                Conference Manager - Working within an Angular framework to
                provide a bespoke communications dashboard. Creating friendly
                user interaction for call management, resting on top of a .NET
                core and Cisco bridge. Heavy implementation of NgRx state
                management and RxJs Observables providing a powerful and
                scalable code base for clients operating in a closed system
                environment such as the American department of defence, the
                Pentagon, SOCOM, the White House and several unnamed
                intelligence agencies.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">Admiral</p>
              <p class="text">
                InstaQuote; Large scale project to deliver a new customer
                journey when applying for a home insurance quote. Implementing
                several API's including one from the DVLA allowing Admiral to
                gather information about their clients home and repopulate the
                required quotation fields allowing the clients' journey time to
                be cut dramatically, thus improving customer retention and
                overall sales. The application was built within Angular 6
                supported by a Java middle tier.
              </p>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 col-xl-4 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">Admiral</p>
              <p class="text">
                QuoteEngine; Code rewrite from outdated and underperforming
                legacy code of the existing quote engine to Angular 9. Able to
                provide the required improved performance, efficiency and
                scalability to suit new demands. Utilizing state management and
                also heavily leveraging the RXJS library. The project was a
                success meeting all expectations set out by senior management.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 mx-auto">
          <div class="card">
            <div class="card-body">
              <p class="subHeader">KeyTree</p>
              <p class="text">
                TravelSafe; Delivering a mobile application built using Angular
                5, Ionic and Cordova for native mobile usage. TravelSafe being
                engineered for members of British Petroleum to act as a health
                and safety monitor and risk avoidance measure. supporting
                features such as a panic button, sending your GPS location to
                the BP main office. Helpful tips regarding food safety within
                your geolocation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
